<div class="">
  <h3><%= @agent.full_name %></h3>
  <p class="text-center"><%= @agent.company %><br></p>
  <button class="btn btn-primary">Call <%= @agent.first_name %></button>
  <button class="btn btn-primary">Email <%= @agent.first_name %></button>
</div>
